* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}
:root {
  --black: #000000;
  --white: #ffffff;
  --charleston-green: #212832;
  --jelly-bean: #df6951;
  --space-cadet: #181e4b;
  --Dark-electric-blue: #5e6282;
  --orange-web: #f1a501;
  --yankees-blue: #14183e;
  --dark-silver: #686d77;
  --roman-silver: #84829a;
  --cultured: #f5f5f5;
  --medium-purple: #8a79df;
}

body {
  background-image: url("../images/blob.webp");
  background-repeat: no-repeat;
  background-position: top;
  background-position-x: right;
  z-index: -2;
}
a {
  text-decoration: none;
}
header {
  padding: 20px 50px;
}
header .continer {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
}
nav {
  position: relative;
}
ul li a {
  color: var(--charleston-green);
  font-size: 17px;
  font-weight: 400;
}
ul .sign-up {
  background-color: #00000000;
  border-radius: 5px;
  border: 1px solid var(--charleston-green);
  padding: 5px 10px;
  cursor: pointer;
}
nav label {
  cursor: pointer;
}
nav input {
  appearance: none;
}
header nav input:checked + ul {
  display: block;
}
select {
  margin-left: 30px;
  border: none;
  text-align: center;
  cursor: pointer;
  background-color: #00000000;
}
@media (max-width: 992px) {
  nav ul {
    list-style: none;
    display: none;
    position: absolute;
    top: 20;
    right: 0;
    background-color: var(--white);
  }
  ul li {
    padding: 8px 25px;
    border-bottom: 1px solid #e6e6e6;
  }
  ul .sign-up {
    border: none;
    padding: 0px;
  }
}
@media (min-width: 992px) {
  nav label,
  nav input {
    display: none;
  }
  nav ul {
    display: flex;
    list-style: none;
  }
  nav ul li {
    padding: 0px 20px;
  }
}

.page1 .continer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0px 40px;
}

.content-page1 h2 {
  font-family: "Volkhov", serif;
  font-size: 84px;
  font-weight: 700;
  line-height: 89px;
  font-family: Volkhov;
  font-size: 84px;
  font-weight: 700;
  line-height: 89px;
  letter-spacing: -0.04em;
  color: var(--space-cadet);
}
.content-page1 h2 .enjoy {
  font-family: "Volkhov", serif;
  font-size: 84px;
  font-weight: 700;
  line-height: 89px;
  font-family: Volkhov;
  font-size: 84px;
  font-weight: 700;
  line-height: 89px;
  letter-spacing: -0.04em;
  color: var(--space-cadet);
  position: relative;
  z-index: -1;
}
.content-page1 h2 .enjoy::after {
  content: "";
  position: absolute;
  background-image: url(../images/Decore.png);
  height: 8px;
  width: 350px;
  left: -35px;
  bottom: 10px;
  z-index: -10;
}
.content-p1 {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  padding: 20px 0px;
  color: var(--jelly-bean);
}
.content-p2 {
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  padding: 20px 0px;
  color: var(--Dark-electric-blue);
}
.img-page1 img {
  width: 765px;
  height: 764px;
}
@media (max-width: 1200px) {
  .page1 .continer {
    padding: 0px 30px;
  }
  .img-page1 img {
    width: 560px;
    height: 560px;
  }
}
@media (max-width: 992px) {
  body {
    background-size: 50%;
  }
  .img-page1 img {
    width: 400px;
    height: 400px;
  }
  .content-page1 h2 {
    font-size: 70px;
  }
  .content-page1 h2 .enjoy {
    font-size: 70px;
  }
  .content-page1 h2 .enjoy::after {
    width: 280px;
  }
}
@media (max-width: 850px) {
  .img-page1 img {
    display: none;
  }
  .content-page1 h2 {
    font-size: 60px;
  }
  .content-page1 h2 .enjoy {
    font-size: 60px;
  }
}
@media (max-width: 765px) {
  .img-page1 img .page1 .continer {
    padding: 0px 20px;
  }
  .content-page1 h2 {
    font-size: 60px;
  }
  .img-page1 img {
    display: none;
  }
  .content-page1 h2 .enjoy {
    font-size: 60px;
  }
  .content-page1 h2 .enjoy::after {
    width: 170px;
    border-radius: 25px;
  }
  .title-page2 h2 {
    font-size: 35px;
  }
}
.btn-link {
  display: flex;
  justify-content: center;
  align-items: start;
}
.btn-link input {
  margin-top: 15px;
  margin-right: 70px;
  padding: 10px 20px;
  background-color: var(--orange-web);
  border: none;
  width: 170px;
  height: 60px;
  border-radius: 10px;
  color: var(--white);
}
.btn-link a {
  margin-top: 28px;
  width: 100px;
  color: var(--charleston-green);
}
.title-page2 {
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.title-page2 p {
  color: var(--Dark-electric-blue);
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
}
.title-page2 h2 {
  font-family: Volkhov;
  font-size: 50px;
  font-weight: 700;
  line-height: 64.5px;
  color: var(--yankees-blue);
}
.offer-services {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  flex-grow: 1;
}

.offer-services figure .best-filghts {
  width: 267px;
  height: 330px;
  border-radius: 36px;
  background-color: var(--white);
  box-shadow: 10px 38.52px 25.48px 20px #00000008;
  position: relative;
}
.offer-services figure .best-filghts::after {
  content: "";
  position: absolute;
  background-image: url(../images/Rectangle158.webp);
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  z-index: -1;
  left: -35px;
  bottom: -40px;
}
.offer-services figure figcaption {
  width: 267px;
  position: relative;
  padding-top: 30px;
}
.offer-services figure figcaption h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 27.24px;
  text-align: center;
  color: var(--space-cadet);
}
.offer-services figure figcaption p {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  width: 210px;
  padding: 20px;
  margin: auto;
  color: var(--Dark-electric-blue);
}
.calculated-weather::after {
  content: "";
  background-image: url(../images/Rectangle157.png);
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 20px;
  z-index: -1;
}
.local-events::after {
  content: "";
  background-image: url(../images/Rectangle157.png);
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 10px;
  right: px;
  z-index: -1;
}
.Customization::after {
  content: "";
  background-image: url(../images/Rectangle157.png);
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 10px;
  right: 40px;
  z-index: -1;
}
@media (max-width: 765px) {
  .title-page2 h2 {
    font-size: 35px;
  }
  .title-page2 img {
    width: 70px;
  }
}

.continter {
  padding: 50px 20px;
}
.title-page3 {
  text-align: center;
  padding-bottom: 10px;
}
.title-page3 p {
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  color: var(--Dark-electric-blue);
}
.title-page3 h3 {
  font-family: Volkhov;
  font-size: 50px;
  font-weight: 700;
  line-height: 64.5px;
  color: var(--yankees-blue);
}
.contry {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
}
.contry div img {
  width: 314px;
  height: 457px;
}
.contry .prodects {
  position: relative;
  border-radius: 20px;
  box-shadow: 0px 100px 80px 0px #00000011;
}
.for-reservation {
  position: absolute;
  bottom: 0;
  text-align: center;
  left: 0px;
  width: 100%;
  background-color: var(--white);
  height: 150px;
  z-index: 10;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.for-reservation {
  padding-top: 20px;
}
.for-reservation .praice-and-contry {
  display: flex;
  justify-content: space-between;
  padding: 0px 15px;
}
.for-reservation .praice-and-contry a {
  color: var(--Dark-electric-blue);
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 22.41px;
}
.deys a {
  color: var(--Dark-electric-blue);
  font-size: 16px;
  font-weight: 500;
  line-height: 22.41px;
}
.deys {
  padding-top: 50px;
  text-align: start;
}
.icons-arrow {
  font-size: 18px;
  padding: 0px 20px;
  color: var(--black);
}
.prodect-end {
  position: relative;
}
.prodect-end::after {
  content: "";
  background-image: url(../images/Decore.webp);
  width: 80px;
  height: 75%;
  right: -55px;
  z-index: -1;
  position: absolute;
}
@media (max-width: 1200px) {
  .contry .prodects {
    margin: 20px;
  }
}
@media (max-width: 992px) {
}

.page4 .continer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 40px;
}

.title h3 {
  font-family: Volkhov;
  font-size: 50px;
  font-weight: 700;
  line-height: 64.5px;
  width: 500px;
  color: var(--yankees-blue);
  padding-bottom: 20px;
}
.title p {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  color: var(--Dark-electric-blue);
}
.booking-flights .content {
  display: flex;
}
.title-and-content {
  width: 395px;
}
.choose1-destination,
.choose2-destination,
.choose3-destination {
  position: relative;
}
.choose1-destination::after,
.choose2-destination::after,
.choose3-destination::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  background-image: url(../icons/selection\ 1.png);
  background-repeat: no-repeat;
  left: 12px;
  top: 13px;
  bottom: 0px;
}
.choose2-destination::after {
  background-image: url(../icons/taxi.png);
}
.choose3-destination::after {
  background-image: url(../icons/water-sport\ 1.png);
}

.content h4 {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.92px;
  color: var(--Dark-electric-blue);
  padding-left: 8px;
}
.content p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.92px;
  padding: 8px;
  padding-bottom: 20px;
  color: var(--Dark-electric-blue);
}
.trip-to-greece {
  margin-top: 20px;
  padding: 20px 25px;
  border-radius: 20px;
  box-shadow: 20px 10.81px 46.85px 10px #59b0e634;
  position: relative;
}
.trip-to-greece h5 {
  font-size: 18px;
  font-weight: 500;
  line-height: 22.41px;
  padding: 10px 0px;
}
.trip-to-greece .June29-14 {
  border-right: 1px solid var(--roman-silver);
  padding-right: 5px;
}
.trip-to-greece a {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.92px;
  letter-spacing: -0.005em;
  color: var(--roman-silver);
}
.trip-to-greece .by-Robbin-joseph {
  padding-left: 5px;
}
.three-icons .icons {
  padding: 5px;
  background-color: var(--cultured);
  border-radius: 20px;
}
.trip-to-greece .people-24 {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.92px;
  letter-spacing: -0.02em;
  color: var(--roman-silver);
  padding-left: 10px;
}
.heart {
  display: inline-block;
  text-align: end;
  width: 150px;
}
.heart-icon {
  font-size: 22px;
  margin-top: 10px;
  color: var(--roman-silver);
}
.Trip-rome-complete {
  display: flex;
  position: absolute;
  background-color: var(--white);
  right: -70px;
  height: 80px;
  top: 210px;
  border-radius: 15px;

  box-shadow: 0px 0px 80px 0px #00000034;
}
.Trip-rome-complete img {
  width: 50px;
  height: 50px;
  margin-left: 5px;
  margin-top: 5px;
}
.flight-statistics {
  padding-left: 10px;
  background-color: var(--white);
  width: 200px;
  border-radius: 15px;
}
.progress-bar {
  width: 170px;
  height: 5px;
  background-color: var(--cultured);
  position: absolute;
  border-radius: 5px;
  margin-left: 10px;
}
.bar {
  width: 40%;
  height: 100%;
  background-color: var(--medium-purple);
  position: absolute;
  border-radius: 5px;
}

.flight-statistics p {
  font-size: 14px;
  font-weight: 500;
  line-height: 24.43px;
  letter-spacing: -0.035em;
  color: var(--medium-purple);
}
.flight-statistics h6 {
  font-size: 18px;
  font-weight: 500;
  line-height: 22.41px;
  letter-spacing: -0.015em;
}
.flight-statistics span {
  color: var(--black);
}
.page5 .continter {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.testimonials p {
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  text-align: left;
  color: var(--Dark-electric-blue);
}
.testimonials h2 {
  font-family: Volkhov;
  font-size: 50px;
  font-weight: 700;
  line-height: 64.5px;
  width: 409px;
height: 130px;
color: var(--yankees-blue);
}
.page5 .content {
  width: 504px;
  height: 245px;
  padding: 20px 30px;
  border-radius: 15px;
  box-shadow: 0px 100px 80px 0px #0000001e;
  position: relative;
}
.img-chris-thomas{
  position: absolute;
  left: -30px;
  top: -50px;
}
.page5 .content h4{
  padding-top: 50px;
}
.chris-thomas{
  margin-top: 30px;
}
.chris-thomas h5{
padding-left: 9px;
font-size: 18px;
font-weight: 600;
line-height: 27px;
color: var(--Dark-electric-blue);
}
.chris-thomas p{
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: var(--Dark-electric-blue);
  }
  @media (max-width:952px){
    .testimonials{
      padding-bottom:70px;
    }
    .img-chris-thomas{
        position: absolute;
        left: 227px;
        top: -50px;
      }
  }